.header-card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    max-width: auto;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.header-logo {
    display: flex;
    align-items: center;
    flex: 1;
}

.logo-img {
    max-width: 100px; /* уменьшили логотип */
    height: auto;
    display: block;
}

.header-controls {
    display: flex;
    gap: 8px; /* уменьшили отступ между кнопками */
    align-items: center;
}
