       
        .teacher-header {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        }

        .teacher-card {
        display: block;
        margin: 0 auto;
        max-width: 800px;
        background: white;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.05);
        padding: 20px;
        margin-bottom: 20px;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        text-decoration: none;
        color: inherit;
        }

        .teacher-card:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 12px rgba(0,0,0,0.1);
        cursor: pointer;
        }


        .teacher-name {
        margin-top: 0;
        color: #2D3748;
        border-bottom: 2px solid transparent;
        transition: border-color 0.2s ease;
        display: inline-block;
        }

        .teacher-card:hover .teacher-name {
        border-bottom-color: #2D5BFF; /* яркий акцент при наведении */
        }

        .subjects, .klass, .price {
        font-size: 0.9em;
        color: #718096; /* вторичный текст */
        margin: 5px 0;
        }

        .description {
        margin: 10px 0;
        line-height: 1.5;
        color: #4A5568; 
        }